:root {
  --font-inter: 'Inter';
  --font-serif: sans-serif;
  --font-mono:: monospace;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-serif {
  font-family: var(--font-serif);
}

.font-mono {
  font-family: var(--font-mono);
}

body {
  margin: 0;
}

.notes-logo {
    display: flex;
    padding-bottom: 0.5rem;
    align-items: center;
    gap: 0.625rem;
    justify-content: center;
  
    span {
      color: var(--colors-base-black, #0e121b);
      font-family: Pacifico;
      font-size: 1.4375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.02875rem;
    }
  }