.auth-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: var(--colors-neutral-100, #f3f5f8);
}

.login-container {
  display: flex;
  padding: var(--spacing-600, 3rem);
  flex-direction: column;
  gap: var(--spacing-200, 1rem);
  width: 90%;
  border-radius: var(--corner-radius-12, 0.75rem);
  border: 1px solid var(--colors-neutral-200, #e0e4ea);
  background: #fff;
  margin: 2rem auto;
  /* Large Shadow */
  box-shadow: 0px 8px 12px 0px rgba(240, 240, 240, 0.6);

  @media screen and (min-width: 48rem) {
    width: 33.75rem;
    flex-shrink: 0;
  }
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  .header-title {
    color: var(--colors-neutral-950, #0e121b);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;

    /* sans-serif/text-preset-1 */
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.8rem */
    letter-spacing: -0.03125rem;
  }

  .header-subtitle {
    color: var(--colors-neutral-600, #525866);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;

    /* sans-serif/text-preset-5 */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.1375rem */
    letter-spacing: -0.0125rem;
  }
}

.login-form {
  display: flex;
  padding-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;

  .form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-075, 0.375rem);
    align-self: stretch;
    position: relative;
  }

  label {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-100, 0.5rem);
    align-self: stretch;
    color: var(--colors-neutral-950, #0e121b);
    font-feature-settings: "liga" off, "clig" off;

    /* sans-serif/text-preset-4 */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    letter-spacing: -0.0125rem;
  }

  input {
    display: flex;
    padding: var(--spacing-150, 0.75rem) var(--spacing-200, 1rem);
    align-items: center;
    gap: var(--spacing-100, 0.5rem);
    align-self: stretch;
    border-radius: var(--corner-radius-8, 0.5rem);
    border: 1px solid var(--colors-neutral-300, #cacfd8);
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
  }

  .login-button {
    display: flex;
    height: 2.75rem;
    padding: var(--spacing-150, 0.75rem) var(--spacing-200, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 0.5rem);
    align-self: stretch;
    border-radius: var(--corner-radius-8, 0.5rem);
    background: var(--colors-blue-500, #335cff);
    color: #fff;
    font-feature-settings: "liga" off, "clig" off;

    /* sans-serif/text-preset-3 */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.2rem */
    letter-spacing: -0.01875rem;
  }

  input[type="password"] {
    padding-right: 3.5rem;
  }

  .password-eye {
    position: absolute;
    right: 1rem;
    top: 2.2rem;
  }
}

.divider {
  height: 2px;
  background: var(--colors-neutral-200, #e0e4ea);
}

.login-alt {
  color: var(--colors-neutral-600, #525866);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* sans-serif/text-preset-5 */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: -0.0125rem;
}
.login-alt-button {
  display: flex;
  height: 3rem;
  padding: var(--spacing-200, 1rem) var(--spacing-150, 0.75rem);
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-150, 0.75rem);
  border: 1px solid var(--colors-neutral-300, #cacfd8);
  color: var(--colors-neutral-950, #0e121b);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
  letter-spacing: 0.03125rem;
  gap: var(--spacing-100, 0.5rem);

  @media screen and (min-width: 48rem) {
    width: 27.75rem;
  }
}

.no-account-link {
  color: var(--colors-neutral-600, #525866);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* sans-serif/text-preset-5 */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.1375rem */
  letter-spacing: -0.0125rem;

  .label-link {
    color: var(--colors-neutral-950, #0e121b);
    font-weight: 500;
  }
}
.input-feedback {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 0.5rem);
  align-self: stretch;
  color: var(--colors-neutral-600, #525866);
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.05rem */
}
